<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.rshkv.localhost-alfred</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>015FDB5B-0FA2-4A37-9217-959DC30384F8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51362E68-2047-45D3-B40C-BC8BA01235FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3442BDD7-F126-45B1-8FB6-7C95BF3BAA7D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8DAFA01-2778-4032-877C-CEE9F664BFDF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>834378AD-3131-47B4-B032-A96A16082B4A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>45CA3FA7-DE94-47E3-B854-ED3D1267104F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3442BDD7-F126-45B1-8FB6-7C95BF3BAA7D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51362E68-2047-45D3-B40C-BC8BA01235FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7675DE5F-B35E-4B75-8EE4-59F2DAFFC85B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>834378AD-3131-47B4-B032-A96A16082B4A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51362E68-2047-45D3-B40C-BC8BA01235FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>99598599-9026-441A-BBFA-22C31DBE5DEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>99598599-9026-441A-BBFA-22C31DBE5DEF</key>
		<array/>
		<key>A8DAFA01-2778-4032-877C-CEE9F664BFDF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>015FDB5B-0FA2-4A37-9217-959DC30384F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Willi Raschkowski</string>
	<key>description</key>
	<string>Open localhost on given port</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Localhost</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>A8DAFA01-2778-4032-877C-CEE9F664BFDF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string></string>
				<key>replacestring</key>
				<string>{var:last}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>015FDB5B-0FA2-4A37-9217-959DC30384F8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>lh</string>
				<key>subtext</key>
				<string>Open in browser</string>
				<key>text</key>
				<string>Open localhost:{query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>45CA3FA7-DE94-47E3-B854-ED3D1267104F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://localhost:{query}/</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7675DE5F-B35E-4B75-8EE4-59F2DAFFC85B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>3442BDD7-F126-45B1-8FB6-7C95BF3BAA7D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>51362E68-2047-45D3-B40C-BC8BA01235FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>834378AD-3131-47B4-B032-A96A16082B4A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys
from plistlib import readPlist, writePlist

query = sys.argv[1]

info = readPlist('info.plist')
info['variables']['last'] = query
writePlist(info, 'info.plist')</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>99598599-9026-441A-BBFA-22C31DBE5DEF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Open localhost in browser. Provide port or leave empty to reuse last query.</string>
	<key>uidata</key>
	<dict>
		<key>015FDB5B-0FA2-4A37-9217-959DC30384F8</key>
		<dict>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>3442BDD7-F126-45B1-8FB6-7C95BF3BAA7D</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>45CA3FA7-DE94-47E3-B854-ED3D1267104F</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>51362E68-2047-45D3-B40C-BC8BA01235FD</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>7675DE5F-B35E-4B75-8EE4-59F2DAFFC85B</key>
		<dict>
			<key>xpos</key>
			<integer>870</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>834378AD-3131-47B4-B032-A96A16082B4A</key>
		<dict>
			<key>note</key>
			<string>not empty</string>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>99598599-9026-441A-BBFA-22C31DBE5DEF</key>
		<dict>
			<key>note</key>
			<string>save last search to plist</string>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>A8DAFA01-2778-4032-877C-CEE9F664BFDF</key>
		<dict>
			<key>note</key>
			<string>empty</string>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>last</key>
		<string>8080</string>
	</dict>
	<key>version</key>
	<string>1.1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
